panmax-table{
    display: block;
    position: relative;
    height: auto;
    width: 100%;
    padding: 0px;
    margin: 0px;
}

panmax-table div.head{
    position: relative;
    height: 36px;
    width: 100%;
    padding: 0px;
    margin: 0px;
    background-color: #fafafa;
    border-radius: 8px 8px 0px 0px;
}

panmax-table div.head div.cell{
    height: 100%;
}

panmax-table div.body{
    position: relative;
    /* max-height: 423px; */
    height: auto;
    width: 100%;
    padding: 0px;
    margin: 0px;
    background-color: #fdfdfd;
    /* overflow-x: hidden;
    overflow-y: auto; */
}

panmax-table div.body div.cell:last-child{
    border-bottom: none;
}

panmax-table div.footer{
    display: flex;
    position: relative;
    height: 72px;
    width: 100%;
    padding: 0px;
    margin: 0px;
    background-color: #ffffff;
    border-top: solid 1px #d6d6d6;
    border-radius: 0px 0px 8px 8px;
    justify-content: flex-end;
}

panmax-table div.list{
    position: relative;
}

panmax-table div.list.big{
    width: 180px;
}

panmax-table div.list.medium{
    width: 122px;
}

panmax-table div.list.small{
    width: 80px;
}

panmax-table div.head div.list{
    font-size: 12px;
    font-weight: 500;
    color: #8a8a8a;
}

panmax-table div.body div.list{
    font-size: 14px;
    font-weight: 500;
    color: #1d1d1d;
}

panmax-table div.cell{
    box-sizing: border-box;
    display: flex;
    position: relative;
    height: 53px;
    width: 100%;
    padding: 0px 18px;
    margin: 0px;
    background-color: transparent;
    border-bottom: solid 1px #d6d6d6;
    align-items: center;
    gap: 18px;
}

panmax-table div.pagination{
    display: inline-flex;
    position: relative;
    height: 100%;
    width: auto;
    padding: 0px 18px;
    margin: 0px;
    align-items: center;
    gap: 12px;
}

/* ------------------- table-paginator ------------------- */

table-paginator{
    display: block;
    position: relative;
    height: 50px;
    width: auto;
    padding: 0px 18px;
    margin: 0px;
    border-radius: 8px;
    align-items: center;
    transition-property: background-color;
    transition-duration: 0.4s;
    transition-timing-function: cubic-bezier(0,0,0.4,1);
}

table-paginator:hover{
    background-color: #fafafa;
    transition-duration: 0.14s;
}

table-paginator p{
    display: flex;
    position: relative;
    font-size: 14px;
    font-weight: 500;
    color: #1d1d1d;
    text-align: right;
    height: 100%;
    width: 100%;
    padding: 0px;
    margin: 0px;
    cursor: pointer;
    opacity: 1;
    justify-content: flex-end;
    align-items: center;
    transition-property: opacity;
    transition-duration: 0.4s;
    transition-timing-function: cubic-bezier(0,0,0.4,1);
}

table-paginator p:hover{
    opacity: 0.8;
    transition-duration: 0.14s;
}

table-paginator p::after{
    content: '';
    box-sizing: border-box;
    display: block;
    position: relative;
    height: 100%;
    width: 10px;
    margin: 2px 4px 0px 4px;
    background-image: url("data:image/svg+xml,%3C%3Fxml version='1.0' encoding='UTF-8'%3F%3E%3Csvg id='_%3F덉씠%3F%3F1' xmlns='http://www.w3.org/2000/svg' viewBox='0 0 9.93 5.04'%3E%3Cdefs%3E%3Cstyle%3E.cls-1%7Bfill:%231d1d1d;stroke-width:0px;%7D%3C/style%3E%3C/defs%3E%3Cpath class='cls-1' d='M5.45,4.86l4.21-3.54c.32-.27.36-.74.09-1.06-.27-.32-.74-.36-1.06-.09l-3.73,3.13L1.23.18C.91-.09.44-.05.18.27c-.27.32-.22.79.09,1.06l4.21,3.54c.27.23.68.24.96,0Z'/%3E%3C/svg%3E");
    background-repeat: no-repeat;
    background-position: center;
}

table-paginator span{
    width: 60px;
    pointer-events: none;
}

table-paginator .options{
    position: absolute;
    height: 0px;
    width: 0px;
    padding: 0px;
    margin: 0px;
    background-color: #ffffff;
    border-radius: 0px 0px 8px 8px;
    bottom: 4px;
    right: 0px;
    transform: translate(0, 100%);
    z-index: 1;
    box-shadow: 0px 1px 2px rgba(0,0,0,0.08);
    overflow: hidden;
    transition-property: height;
    transition-duration: 0.4s;
    transition-timing-function: cubic-bezier(0.65,0,0.35,1);
}

table-paginator .options .container{
    display: inline-block;
    position: relative;
    height: auto;
    width: auto;
    padding: 8px 0px;
    margin: 0px;
    overflow-y: scroll;
}

table-paginator .options .container::-webkit-scrollbar {
    width: 0px;
}

table-paginator .options .container .node{
    box-sizing: border-box;
    position: relative;
    height: 32px;
    width: 84px;
    padding: 0px 16px;
    margin: 0px;
    cursor: pointer;
    transition-property: background-color;
    transition-duration: 0.4s;
    transition-timing-function: cubic-bezier(0,0,0.4,1);
}

table-paginator .options .container .node:hover{
    background-color: #fafafa;
    transition-duration: 0.14s;
}

table-paginator .options .container .node input{
    position: absolute;
    height: 100%;
    width: 100%;
    padding: 0px;
    margin: 0px;
    opacity: 0;
    top: 0px;
    left: 0px;
    cursor: pointer;
}

table-paginator .options .container .node label{
    position: relative;
    font-size: 14px;
    font-weight: 400;
    color: #333333;
    line-height: 36px;
    padding: 0px;
    margin: 0px;
    pointer-events: none;
    white-space: nowrap;
}

.btn-pagination{
    position: relative;
    height: 36px;
    width: 36px;
    padding: 0px;
    margin: 0px;
    border-radius: 50%;
    background-color: #ffffff;
    border: none;
    transition-property: background-color;
    transition-duration: 0.4s;
    transition-timing-function: cubic-bezier(0,0,0.4,1);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    cursor: pointer;
}

.btn-pagination:hover{
    background-color: #fafafa;
    transition-duration: 0.14s;
}

.btn-pagination.prev{
    background-image: url("data:image/svg+xml,%3C%3Fxml version='1.0' encoding='UTF-8'%3F%3E%3Csvg xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' viewBox='0 0 36 36'%3E%3Cdefs%3E%3Cstyle%3E.cls-1%7Bfill:none;%7D.cls-1,.cls-2%7Bstroke-width:0px;%7D.cls-3%7Bclip-path:url(%23clippath);%7D.cls-2%7Bfill:%23333;%7D%3C/style%3E%3CclipPath id='clippath'%3E%3Crect class='cls-1' x='0' y='0' width='36' height='36' transform='translate(36 36) rotate(-180)'/%3E%3C/clipPath%3E%3C/defs%3E%3Cg class='cls-3'%3E%3Cpath class='cls-2' d='M13.88,17.36c-.32.38-.31.92,0,1.29,0,0,0,0,0,0l4.71,5.62c.35.42.99.48,1.41.12.42-.35.48-.99.12-1.41l-4.17-4.97,4.17-4.97c.35-.42.3-1.05-.12-1.41-.42-.35-1.05-.3-1.41.12l-4.71,5.62s0,0,0,0Z'/%3E%3C/g%3E%3C/svg%3E");
}

.btn-pagination.next{
    background-image: url("data:image/svg+xml,%3C%3Fxml version='1.0' encoding='UTF-8'%3F%3E%3Csvg xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' viewBox='0 0 36 36'%3E%3Cdefs%3E%3Cstyle%3E.cls-1%7Bfill:none;%7D.cls-1,.cls-2%7Bstroke-width:0px;%7D.cls-3%7Bclip-path:url(%23clippath);%7D.cls-2%7Bfill:%23333;%7D%3C/style%3E%3CclipPath id='clippath'%3E%3Crect class='cls-1' width='36' height='36'/%3E%3C/clipPath%3E%3C/defs%3E%3Cg class='cls-3'%3E%3Cpath class='cls-2' d='M22.12,18.64c.32-.38.31-.92,0-1.29,0,0,0,0,0,0l-4.71-5.62c-.35-.42-.99-.48-1.41-.12-.42.35-.48.99-.12,1.41l4.17,4.97-4.17,4.97c-.35.42-.3,1.05.12,1.41.42.35,1.05.3,1.41-.12l4.71-5.62s0,0,0,0Z'/%3E%3C/g%3E%3C/svg%3E");
}